*{
  box-sizing: border-box ;
  margin: 0;
  padding:0;
}
body, input, select, textarea{
  font-family: 'Poppins',
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

body::before{
  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index:-1;
  background-color: #121214; 
}
.page{
  width: 736px;
  margin: auto;
}

header{
  width: 319px;

  margin-top: 74px;
}

header h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height:42px;
  color: white;

  margin-bottom: 24px;
}

header P{

  font-size: 16px;
  line-height: 26px;

  color: #42d3ff;
}

form{
  margin-top: 38px;
  background-color: #fafafc;
  border-radius:8px 8px 0 0;
  min-height: 300px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;

}

fieldset{
  border: none;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend{
  font-family: 'Archivo',sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  
  width: 100%;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;

}

.input-wrapper{
  display: flex;
  flex-direction: column;
}

.input-wrapper label
{

  font-size: 14px;
  line-height: 24px;
  color: #4e4058; 

  margin-bottom: 8px;

}

.input-wrapper label span{
  margin-left: 12px;
  font-size: 12px;
  line-height: 20px;
  color:#b6b4bb ;
}

.input-wrapper label span:hover{
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select
{
  background-color: 1px #fafafc;
  
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 56px;
  padding: 0 24px;
  
  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;

}

.input-wrapper textarea{
  padding: 0;
  height: 168px;
}

.input-wrapper select{
  appearance: none;
  -webkit-appearance: none;
} 

.col-3{
  display: flex;
  gap: 20px;
}

.col-3 > div:nth-child(1){
  width:100%;
}

.checkbox-wrapper{
  position: relative;
}
.checkbox-wrapper label{
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
}

.checkbox-wrapper input{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before{
  content:'';
  width: 24px;
  height: 24px;
  display:block;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Svg Vector Icons : http://www.onlinewebfonts.com/icon --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath d='M509.2,701.6l436.9-477.4L990,273L553.2,750.4c-30.8,33.9-78.6,33.9-109.5-0.1L10,272.9l44.1-48.6l433.7,477.3C494.3,708.9,502.7,708.9,509.2,701.6L509.2,701.6z'/%3E%3C/g%3E%3C/svg%3E");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer{
  background: #f0f0f4;

  height: 136px;

  display: flex;
  flex-direction: column;

  padding: 40px 64px;

  margin-bottom: 100px;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}

footer .button{
  height: 56px;
  background-color: #04d361;
  border-radius: 8px;
  border: 0;

  font-family: 'Archivo';

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  color: #ffffff;
}

footer .button:hover{
  background-color: #147a42;
}

input:invalid{
  border: 1px solid #ff1010;
}